apiVersion: networking.istio.io/v1alpha3
kind: Gateway
metadata:
  name: config
spec:
  selector:
    istio: ingressgateway
  servers:
  - port:
      number: 80
      name: http
      protocol: HTTP
    hosts:
    - "config.sm.apps.ocp1.example.com"
